.contactOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}


.footer {
    width: 95%;
    height: 150px;
    background-color: #121619;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    flex-direction: row;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
    bottom: 20px;
}
  
  .footer .leftSide {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  
  .footer .leftSide img {
    width: 90px;
  }
  
  .footer .rightSide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 15px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

  .footer a:hover {
    color: white;
    text-decoration: none;
    padding: 10px;
    background: rgb(70, 70, 70);
  }
  
  .footer .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .footer .rightSide svg {
    font-size: 40px;
  }
  
  .footer #open {
    padding-left: 0px;
  }
  .footer #open img {
    display: none;
  }
  
  .footer #close img {
    display: inherit;
  }
  
  .footer #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .footer #close .hiddenLinks {
    display: none;
  }
  
  .footer #open a {
    width: 70px;
    margin: 5px;
  }

  #privacy-page .footer {
    position: absolute;
    bottom: 20px;
    left: 45px;
    margin: 0 aut0;
  }

  @media only screen and (max-width: 1355px){
    .footer a {
      text-decoration: none;
      padding: 0px;
      border-radius: 10px;
      margin: 15px;
      font-size: 15px;
  }

  .footer .rightSide {
    flex: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  }

  @media only screen and (max-width: 900px) {
    .footer .rightSide a {
      width: 70px;
    }
    .footer .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 500px) {
  
    .footer .rightSide {
      width: 70% ;
      justify-content: center;
    }
  
    .footer .leftSide {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {

  

  }