/* Define color variables for easier maintenance */


/* Navbar styles */
.Navbar {
  background: var(--secondary-bg-color);
  height: 140px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.UpperNavbar {
  background: var(--main-bg-color);
  height: 80px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.IconButton {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.UpperNavbarLeftSide {
  width: 500px;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.LogoBox img, .UpperNavbarLeftSide img {
  width: 65px;
  height: 65px;
  margin-top: 10px;
}

.LiveCamsCounter {
  display: flex;
  gap: 5px;
  align-items: center;
}

.LiveCamsCounter span {
  color: var(--text-color);
}

.CounterGreenCircle {
  width: 18px;
  height: 18px;
  background: #33ff00;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(1, 255, 1, 0.5);
}

@keyframes lightOnOff {
  0%, 100% {
    opacity: 1;
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5);
  }
  50% {
    opacity: 0;
    box-shadow: 0 0 0 rgba(0, 255, 0, 0);
  }
}

.LightAnimation {
  animation: lightOnOff 1.5s infinite;
}

.UpperNavbarRightSide {
  width: 400px;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AdBanner {
  width: 250px;
  height: 50px;
  background: #e62f7b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* Down Navbar */
.DownNavBar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopCategories {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

.TopCategories a, .TopCategories span {
  max-width: 250px;
  background: var(--main-bg-color);
  color: var(--text-color);
  padding: 7px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.1s ease;
}

.TopCategories a:hover {
  scale: var(--hover-scale);
  box-shadow: 0 0 10px 5px var(--main-bg-color);
}

/* Media queries */
@media screen and (max-width: 850px) {
  .AdBanner {
    display: none;
  }

  .UpperNavbarLeftSide {
    width: 700px;
    max-width: 90%;
    margin-left: 20px;
  }

  .LogoBox {
    display: flex;
    justify-content: flex-end;
  }

  .LogoBox img {
    margin-right: 10px;
  }

  .UpperNavbarRightSide {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .TopCategories a:nth-child(4),
  .TopCategories a:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .UpperNavbarRightSide {
    max-width: 9%;
    margin-right: 10px;
  }

  .UpperNavbarLeftSide {
    width: 700px;
    max-width: 95%;
    margin-left: 10px;
  }

  .UpperNavbarLeftSide img {
    width: 45px;
    height: 45px;
  }

  .UpperNavbarRightSide {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .TopCategories a:nth-child(3) {
    display: none;
  }
}